@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Barlow+Semi+Condensed:wght@600&family=Poppins:wght@500&display=swap');

@font-face {
  font-family: "College";
  src: url("/fonts/college.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "College";
  src: url("/fonts/collegeb.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Rabelo";
  src: url("/fonts/rabelo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@import "tailwindcss";

@theme {
  --color-background: #FAF0E6 ;
  --color-text: #333333;
  --color-heading: #2D3748;
  --color-subheading: #718096;
  --color-link: #4299E1;
  --color-button: #D97E96;
  --color-button-hover: #E598AD;
  --color-white: #FFFFFF;

  --font-heading: "College", serif;
  --font-subheading: "Rabelo", serif;
  --font-body: "Inter", sans-serif;
  --font-button: "Barlow Semi Condensed", sans-serif;
  --font-link: "Poppins", sans-serif;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
